{% extends 'main/remem.html' %}

{% block title  %}{% endblock %}



{% block content  %}
    <div class="features">
        <h2>Тренды одежды <span>2023</span> года!</h2>
        <p>Ностальгия по-прежнему царит: мода 90-х и ранних нулевых доминирует в шкафах TikTok и поколения Z. Продолжается возрождение цвета, отчасти благодаря тенденции к домафиновой одежде после пандемии.</p>

    </div>

    <div class="textblock">
        <p>Штаны в стиле карго вернулись из 2000-х. Современные брюки-карго имеют высокую талию и идеально сочетаются с укороченными и облегающими топами. Cargo представлены в различных цветах, помимо основного хаки, и традиционного оливково-зеленого.</p>

    </div>

    <div class="textbox">
        <p>Аквамарин - это цвет, который будет на подиумах весной 2023 года. Прошло некоторое время с тех пор, как у этого яркого оттенка был момент.<br>Аквамарин выглядит свежим и современным. Этот цвет в сочетании с темными джинсами отлично подходит носить в холодные месяцы.</p>

    </div>

    <div class="textbox1">
        <p>Металлики повсюду, они широко представлены у звезд уличного стиля. Металлики в обуви и аксессуарах для ежедневного гламура. Тем не менее, металлики в течении дня являются основной тенденцией. Будьте смелее и добавьте блеска своему дневному стилю</p>
    </div>

    <div class="textbox2">
        <p>Если в 2022 году мини-юбки были в тренде, то 2023 год - это более удобная колонка и длинная юбка. <br> Гладкие и облегающие длинные юбки выглядят современно и элегантно , а джинсовые юбки-макси были на всех улицах недель моды по всему миру.</p>
    </div>

    <div class="textbox3">
        <p>Прозрачные платья, топы и даже брюки также не остались в стороне. Эта пикантная мода может быть пугающей. Чтобы смягчить тренд, попробуйте полупрозрачный трикотажный топ, надетый поверх бюстгалтера и под блейзер или кардиган для скромного покрытия</p>

    </div>

    <div class="textbox4">
        <p>Канадский смокинг вернулся с удвоенной силой. Деним на джинсовых образах - главный тренд 2023 года. Деним - это материал, который булет популярен в аксессуарах и обуви.</p>
    </div>
{% endblock %}